<div class="col-sm-12 col-md-6 col-lg">
   <div  class="productgallery-image"><%= image_tag(product.image_url, class: "img-fluid") %></div>
   <div class="productgallery-info">
     <a href="#"><p class="productgallery-name"><%= product.name %></p></a>
     <p class="productgallery-decription"><%= product.description %></p>
     <p class="productgallery-color">Color: <%= product.colour %></p>
     <p class="productgallery-price"><%= product.price %>€</p>
   </div>

   <div class="productgallery-edit">
     <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
     <p class="horizontal-line"><%= link_to 'Show', product %></p>
     <p class="horizontal-line"><%= link_to 'Edit', edit_product_path(product) %></p>
   </div>
 </div><!-- /col -->